*.pyc
*.xml
*log
*.iml
*.name
*idea
*build
*dbs
*eggs
*.project.egg-info
*.setup
*.db
*__pycache__
*build
*project.egg-info
*hold_scrapy/setup.py
*logs
*python-version
*.pid
*.vscode
*.sqlite3
*.DS_Store
*.dev.py
*.supervisord_dev.conf
*/migrations/*_initial.py
*/migrations/*_auto_*.py
*/migrations/*.py
*/settings/local_dev.py
*celerybeat-*
*/Ellipsis
